
body {
    background: #f4f4f4;
   : flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-container {
    background: white;
    padding: 20px 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px #ccc;
    width: 300px;
}

.password-wrapper {
    display: flex;
    align-items: center;
}

.password-wrapper input {
    flex: 1;
}

#togglePwd {
    cursor: pointer;
    margin-left: 8px;
}